ansible>=2.10.*
# fake-switches   # using own fork for nxos support
git+https://github.com/freedge/fake-switches.git
PyOpenSSL
service_identity
xmltodict # required by the brocade.fos collection
paramiko  #

pandevice
